<!DOCTYPE html>
<html>
        <head>
                <title>CURD</title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        </head>
	<body>
		<script src="bootstrap/js/jquery.min.js"></script>
                <script src="bootstrap/js/bootstrap.js"></script>
		<{include file='layouts/headNav.html'}>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<{include file='layouts/leftNav.html'}>
					<!--Sidebar content-->
				</div>
				<div class="span10">
					<!--Body content-->
					<ul class="nav nav-tabs">
						<li><a href="<{spUrl c=$_controller a=index}>">数据列表</a></li>
						<li class="active"><a href="<{spUrl c=$_controller a=create}>">新增数据</a></li>
					</ul>
					<form method="post" action="<{spUrl c=$_controller a=create}>">
						<fieldset>
							<legend>新增记录数据</legend>
							<{foreach from=$_attributes key=key item=attribute}>
							<label><{$attribute}></label>
							<input name="<{$_controller}>[<{$key}>]" type="text" placeholder="请输入<{$attribute}>">
							<{/foreach}>
							<label></label>
							<button type="submit" class="btn btn-primary">提交新增</button>
							<button type="reset" class="btn">清除重填</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>