<!DOCTYPE html>
<html>
        <head>
                <title>CURD</title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        </head>
	<body>
		<script src="bootstrap/js/jquery.min.js"></script>
                <script src="bootstrap/js/bootstrap.js"></script>
		<{include file='layouts/headNav.html'}>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<{include file='layouts/leftNav.html'}>
					<!--Sidebar content-->
				</div>
				<div class="span10">
					<!--Body content-->
					<ul class="nav nav-tabs">
						<li><a href="<{spUrl c=$_controller a=index}>">数据列表</a></li>
						<li><a href="<{spUrl c=$_controller a=create}>">新增数据</a></li>
						<li class="active"><a href="<{spUrl c=$_controller a=search}>">搜索数据</a></li>
					</ul>
					
					<form method="post" action="<{spUrl c=$_controller a=search}>">
						<fieldset>
							<legend>搜索数据</legend>
							<{foreach from=$_attributes key=key item=attribute}>
							<label><{$attribute}></label>
							<{if $_attributeFormset&& $_attributeFormset[$key] && $_attributeFormset[$key]['type'] != 'file'}>
							<{cbForm moreParams=$_attributeFormset[$key] name="`$_controller`[`$key`]"}>
							<{else}>
							<input name="<{$_controller}>[<{$key}>]" type="text" placeholder="搜索<{$attribute}>" value="<{$tpl_data[$key]}>">
							<{/if}>
							<select name="<{$_controller}>_searchType[<{$key}>]" style="width:100px">
								<option value="0">模糊搜索</option>
								<option value="1">精确搜索</option>
							</select>
							<{/foreach}>
							<label></label>
							<button type="submit" class="btn btn-primary">搜索</button>
							<button type="reset" class="btn">清除重填</button>
						</fieldset>
					</form>
					
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<{foreach from=$_attributes item=attribute}>
								<th><{$attribute}></th>
								<{/foreach}>
								<th width="150px">操作</th>
							</tr>
						</thead>
						<tbody>
							<{foreach from=$tpl_datas item=data}>
							<tr>
								<{foreach from=$_attributes key=key item=attribute}>
								<td><{$data[$key]}></td>
								<{/foreach}>
								<td>
									<div class="btn-toolbar">
										<div class="btn-group">
											<a class="btn" target="_blank" href="<{spUrl c=$_controller a=view id=$data[$_pk]}>"><i class="icon-search"></i></a>
											<a class="btn" target="_blank" href="<{spUrl c=$_controller a=update id=$data[$_pk]}>"><i class="icon-pencil"></i></a>
											<a class="btn deleteConfirm" href="<{spUrl c=$_controller a=delete id=$data[$_pk]}>"><i class="icon-remove-sign"></i></a>
										</div>
									</div>
								</td>
							</tr>
							<{/foreach}>
						</tbody>
					</table>
					
					<{if $tpl_pager != ''}>
					<div class="rows">
						<div class="span6">
							<div class="pagination pagination-right">
								<ul>
									<li><a data="<{$tpl_pager['prev_page']}>" href="#">«</a></li>
									<{foreach from=$tpl_pager['all_pages'] item=page}>
									<{if $page > 10}>
										<{if $tpl_page > $page}>
										<li class="active"><a data="<{$tpl_page}>" href="#"><{$tpl_page}></a></li>
										<{/if}>
										<{if $tpl_page < $tpl_pager['last_page']}>
										<li><a data="<{$tpl_pager['last_page']}>" href="#"><{$tpl_pager['last_page']}></a></li>
										<{/if}>
										<{break}>
									<{/if}>
									<li <{if $page eq $tpl_page}>class="active"<{/if}>><a data="<{$page}>" href="#"><{$page}></a></li>
									<{/foreach}>
									<li><a data="<{$tpl_pager['next_page']}>" href="#">»</a></li>
								</ul>
							</div>
						</div>
						<div class="span6" style="height:75px; line-height: 68px;">
							<form method="post" action="<{spUrl c=$_controller a=search}>" class="form-search pageForm">
								<{foreach from=$tpl_keyword key=key item=value}>
								<input name="<{$_controller}>[<{$key}>]" type="hidden" />
								<{/foreach}>
								<{foreach from=$tpl_searchType key=key item=value}>
								<input name="<{$_controller}>_searchType[<{$key}>]" type="hidden" />
								<{/foreach}>
								<input name="page" type="text" class="input-mini search-query" value="<{$tpl_page}>">
								<button type="submit" class="btn">Go</button>
							</form>
						</div>
					</div>
					<{/if}>
					<{foreach from=$tpl_keyword key=key item=value}>
					<script>jQuery('[name="<{$_controller}>[<{$key}>]"]').val('<{$value}>');</script>
					<{/foreach}>
					<{foreach from=$tpl_searchType key=key item=value}>
					<script>jQuery('[name="<{$_controller}>_searchType[<{$key}>]"]').val('<{$value}>');</script>
					<{/foreach}>
				</div>
			</div>
		</div>
		<script>
			(function($){
				$('.deleteConfirm').click(function(){
					if(confirm('您确认删除该条记录吗？该操作不可逆。'))
						return true;
					else
						return false;
				})
				$('.pagination ul li').click(function(){
					$('.pageForm [name="page"]').val($(this).find('a').attr('data'));
					$('.pageForm').submit();
					return false;
				})
			})(jQuery)
		</script>
	</body>
</html>